* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.clock-face {
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/clock.png);
    background-size: cover;
    border-radius: 50%;
    border: 5px solid #091921;
    position: relative;
}

.clock-face:before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #091921;
    z-index: 100;
}

.hand {
    position: absolute;
    display: flex;
    justify-content: center;
}

.hour {
    width: 160px;
    height: 160px;
}

.minute {
    width: 190px;
    height: 190px;
}

.second {
    width: 220px;
    height: 220px;
}

.hour:before {
    content: "";
    width: 8px;
    height: 80px;
    background: #091921;
    border-radius: 6px 6px 0 0;
    z-index: 10;
}

.minute:before {
    content: "";
    width: 6px;
    height: 90px;
    background: #091921;
    border-radius: 6px 6px 0 0;
    z-index: 11;
}

.second:before {
    content: "";
    width: 3px;
    height: 140px;
    background: #272727;
    border-radius: 6px 6px 0 0;
    z-index: 12;
}